#purple {
    background-color: #514988;
}

#timer h1,p{
    color: #514988;
}

#count h4 {
    color: #E33881;
}

#title {
    font-size: 50px;
}

#count {
    margin-left: 0px;
    padding-left: 0px;
}

button {
    width: 70%;
    height: 40%;
    background: #514988;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

button:hover {
    color: rgb(206, 206, 85);
}

#botao {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.highlighted {
    box-shadow: 3.5px 7px #6c6e6c1f;
    transform: translateY(-5px);
    transition-duration: 0.5s;
}

.selected {
    transform: translateY(-5px);
    transition-duration: 0.3s;
    border: 3px solid #3d413d91;
}

